<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @category  Sitewards
 * @package   Sitewards_RedirectPageIfCustomerNotLoggedIn
 * @copyright Copyright (c) Sitewards GmbH (http://www.sitewards.com)
 * @contact   mail@sitewards.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sitewards_RedirectPageIfCustomerNotLoggedIn" setup_version="1.1.0"/>
    <sequence>
        <module name="Magento_Cms"/>
    </sequence>
</config>
